*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sfondo header */

.conteiner{
  display: flex;
  background-color: rgba(34, 160, 160, 0.679);
  height: 100px;
  align-items: center;
  justify-content: center;
}

/* impostazione elementi header */

.header-section{
  background-color: plum;
  display: flex;
  height: 50px;
  min-width: 20%;
  border-style: dotted;
  border-color: white;
  align-items: center;
  text-transform: uppercase;
}

/* impostazione nav */

.header-section.logo{
 padding: 10px;
}

.header-section.nav{
  display: flex;
  width: 40%;
  justify-content: center;
  justify-content: space-around;
}

li{
  list-style: none;
}

.header-section.login{
  padding: 10px;
  justify-content: flex-end;
}

/* hero */

.jumbotron{
  display: flex;
  background-color: blueviolet;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.jumbotron.unique-element{
  display: flex;
  border-style: dotted;
  border-color: white;
  background-color: palevioletred;
  color: beige;
  width: 40%;
  height: 70%;
  justify-content: center;
  align-items: center;
}



